@import "bourbon";
@import "bootstrap";

html, body { padding: 0; margin: 0; }

section.login {
  position: absolute;
  margin-top: -17px; margin-left: -75px;
  top: 50%;
  left: 50%;
}

section.wrapper {
  min-width: 100%;
  margin: 0 auto 0 auto;
  .btn { width: 100%; }
  &.user-profile {
    section.panel { margin: 5px; section.panel-body { padding: 5px; } }
    img {
      display: block;
      width: 80%;
      height: auto;
      margin: 10px auto 10px auto;
      border: 5px solid white;
      // border-radius: 150%;
    }
    h1 { font-size: 30px; text-align: center; }
    h2 { font-size: 15px; text-align: center; }
    a.btn-success { width: 100%; }
    section.panel {
      margin-top: 10px;
      .panel-body {
        padding: 0;
      }
    }
  }

  &.form-face {
    section.panel {
      margin: 5px;
      section.panel-heading {
        text-align: center;
      }
      section.panel-default {
        padding: 10px;
        input.btn.btn-success { width: 100%; margin-top: 30px; height: 70px; }
        a.btn.btn-default { margin-top: 20px; width: 100%; }
      }
    }
  }

  &.tasklist-profile {
    section.panel {
      margin: 5px;
      .panel-heading{ text-align: center; }
      .panel-body {
        padding: 10px;
        a.btn { display: block; margin-top: 20px; }
        section.panel.panel-success {
          margin: 15px 0 0 0px;
        }

      }
    }
  }


}