// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon";
@import 'bootstrap';

body {
  margin-top: 0px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

/* change the URL to a picture of your choice - the higher quality the better! */
.business-header {
  height: 584px;
  background: image-url('header.png') center center no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
#mobile-login { display: none; }
/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
  color: #fff;
  text-shadow: 0 0 10px #000;
}

footer {
  margin: 50px 0;
}

.social {
  ul {
    margin: 0; padding: 0;
    li {
      list-style: none;
      margin: 0; padding: 0;
    }
  }
}

#content {
  hr { display: none; }
}

/* Media queries for main page */
@media screen and (max-width: 800px) {
   #mobile-login {
     display: block;
     a { width: 100%; &:last-child {margin-top: 20px; }}
   }
   #content {
      h2 { text-align: center; }
      hr { display: block; }
      img {
        margin: 0 auto;
      }
   }
}
@media screen and (max-width: 500px) {

   #mobile-login {
     display: block;
     a { width: 100%; &:last-child {margin-top: 10px; }}
   }

   #home-heading {
      height: 300px;
      background: image-url('header_small.png') center center no-repeat;
      background-size: cover;
   }
   #content {
      h2 { text-align: center; }
      hr { display: block; }
      img {
        margin: 0 auto;
      }
   }
}
