doctype html
html
  head
    meta charset="utf-8"
    meta name="google-site-verification" content="IQAP7pwVI4d7swHDG3A8W2qb_6ZYUE3bm91XplLNCHo"
    meta name="title" content="Family app"
    meta name="description" content="Our project 'Family app' (work in progress title) became the one, tat got the green light @ Startup Weekend Riga event. Of course we will do everything we can end even more, so the project will become the best that we can put in our future - children. We have so many to achieve within  the project, and be sure, only the best ideas will be put into the 'Family app'. Children. More attention. Much more love."
    title FamilyApp

    link rel="shortcut icon" href="#{image_path 'favicon.png'}"
    = stylesheet_link_tag 'home'
    = csrf_meta_tags

  body
    = yield

= javascript_include_tag "application"

/   footer
/     div.left-button
/       div.button
/         = link_to 'btn1', '#'
/     div.right-button
/       div.button
/         = link_to 'btn2', '#'
/       div.button
/       = link_to 'btn3', '#'

/ /